@use "@src/utils.scss";

.offerCard {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: var(--clr-box);
  padding: 1.5em;

  .imgBox {
    @extend .flex;
    margin-bottom: 2em;
  }

  .info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.75em;
    height: 100%;

    h3 {
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1em;

      li {
        justify-content: flex-start;
        width: fit-content;
      }
    }

    .tag {
      color: var(--clr-primary);

      li {
        background-color: var(--clr-bg);
        border-radius: 0.5em;
        padding: 0.25em 0.75em;
        font-size: 0.9em;
      }
    }

    .offer {
      li {
        &:nth-child(1) {
          font-size: 1.5em;
        }
        &:nth-child(2) {
          opacity: 0.5;
          text-decoration: line-through;
        }
        &:nth-child(3) {
          color: red;
        }
      }
    }
  }
}
