@use "@src/utils.scss";

#home {
  .tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;

    a {
      background-color: var(--clr-box);
      padding: 0.5em 1em;
      border-radius: 0.5em;
    }
  }

  .homeIndex {
    .optionContainer {
      display: flex;
      flex-direction: column;
      gap: 3em;
      margin-bottom: 4em;
    }
  }
}
