@use "@src/utils.scss";

#home {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;

    a {
      background-color: var(--clr-box);
      padding: 0.5em 1em;
      border-radius: 0.5em;
    }
  }

  .homeIndex {
    .optionContainer {
      display: flex;
      flex-direction: column;
      gap: 3em;
      margin-bottom: 4em;
    }

    .offerContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;
      height: 100%;
    }
  }
}

@media (width < 1200px) {
  #home {
    .homeIndex {
      .offerContainer {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (width < 800px) {
  #home {
    .homeIndex {
      .offerContainer {
        grid-template-columns: 1fr;
      }
    }
  }
}
